name: Frontend CD

on:
  push:
    branches: ["main"]
    paths:
      - "frontend/**"

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Test Docker Build
        run: docker build -t hm1061998/gyspace:web ./frontend

      - name: Trigger Render Deploy
        if: success()
        run: |
          if [ -n "${{ secrets.RENDER_FRONTEND_DEPLOY_HOOK }}" ]; then
            curl -X POST ${{ secrets.RENDER_FRONTEND_DEPLOY_HOOK }}
            echo "Deployment triggered successfully."
          else
            echo "RENDER_FRONTEND_DEPLOY_HOOK secret is not set. Skipping deployment trigger."
          fi
